[Match]
Name=en0

[Link]
ARP=yes

[Network]
LinkLocalAddressing=no
DHCP=no
IPv6AcceptRA=no
Address=192.0.2.1/24
DNS=192.0.2.1
DNSDefaultRoute=no
Domains=local
IPForward=yes
IPv4ProxyARP=no
LLMNR=no
LLDP=no
EmitLLDP=no
