[Match]
Name=en1

[Link]
ARP=yes

[Network]
LinkLocalAddressing=no
DHCP=ipv4
IPv6AcceptRA=no
#Address=203.0.113.227/24
#Gateway=203.0.113.1
#DNS=8.8.8.8
#DNS=1.1.1.1
IPv4ProxyARP=no
LLMNR=no
LLDP=no
EmitLLDP=no
