module.exports = {
  apps : [{
    name: "certbotsh",
    interpreter: "none",
    script: "/usr/local/sbin/certbotsh-update",
    watch: false,
    autorestart: false,
    cron_restart: "%cbt_cron_minute% */6 * * *",
  },{
    name: "nginx",
    interpreter: "none",
    script: "/usr/sbin/nginx.sh",
    args: [ "exec", "/docker-entrypoint.ngx", "nginx", "-g", "daemon off;" ],
    cwd: "/etc/nginx",
    watch: false,
    treekill: false,
  }]
}
