[Match]
Name=en0

[Link]
ARP=yes

[Network]
LinkLocalAddressing=no
DHCP=no
IPv6AcceptRA=no
IPv4ProxyARP=no
Address=10.1.1.187/24
Address=10.1.1.241/24
Address=10.1.1.242/24
Address=10.1.1.243/24
Gateway=10.1.1.1
DNS=8.8.8.8
DNS=1.1.1.1
Domains=example.com
LLMNR=no
LLDP=no
EmitLLDP=no
MACVLAN=macvlan0

[Route]
Destination=192.168.0.0/16
Type=blackhole
