[Match]
Name=macvlan0

[Link]
ARP=yes

[Network]
LinkLocalAddressing=no
DHCP=no
IPv6AcceptRA=no
LLMNR=no
LLDP=no
EmitLLDP=no

[Route]
Destination=10.1.1.215/32
PreferredSource=10.1.1.187
Type=unicast
Scope=link

[Route]
Destination=10.1.1.211/32
PreferredSource=10.1.1.187
Type=unicast
Scope=link

[Route]
Destination=10.1.1.212/32
PreferredSource=10.1.1.187
Type=unicast
Scope=link
